@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Gowun+Dodum&display=swap');



.App{
  text-align: center;
  background-color: #071C27;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.flexLR{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: start;
  margin-right: 8rem;

}

.name {
  font-family: 'Fredoka';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  margin-top: -2rem;
  color: #fabf88;
  text-align: start;
}

.descMain{
  font-family: 'Gowun Dodum';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 200;
  color: #FFFFFF;
  text-align: start;
  margin-top:0.5rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.descMain:hover {
  color: #fabf88;
  transform: translateX(4px)
}

.profile-image{
  width: 45rem;
  height: auto;
  margin-top: 2.5rem;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -50rem;
  margin-top:-1rem;
}

.social-image{
  margin-left: 2rem;
  color: #555555;
  font-size: 50px;
  transition: color 0.3s ease;
}

.social-image:hover {
  color: #ffffff; 
}

@media screen and (max-width: 768px) {
  .flexLR{
    flex-direction: column; 
    align-items: center;
  }
  
  .flexColumn{
    margin-right: 0;
  }
  
  .profile-image{
    width: 80%; 
    max-width: 300px;
    margin-top: 2rem; 
  }
  
  .socials{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 2rem 0; 
  }
  
  .social-image{
    margin: 0 1rem; 
    transition: color 0.3s ease;
  }
  
  .social-image:hover {
    color: #ffffff; 
  }
}

/* Projects */

.proj{
  background: #071C27;
  min-height: 100vh;
  flex: shrink 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3000px;
  width: 100%
}

.y2023{
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  background: #fabf88;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin-top:-8rem;
  margin-bottom:-6.3rem;
  margin-left: -39rem;
 }

.projLayout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.infoLayout{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  pointer-events: none;
}

.projBar2024{
  width: 24px;
  height: 433px;
  opacity: 1;
  border-radius: 18px;
  background: #fabf88;
  text-decoration: none;
  margin-bottom: 2rem; 
  margin-left: 3rem;
}

.projBar2023{
  width: 24px;
  height: 803px;
  opacity: 1;
  border-radius: 18px;
  background: #fabf88;
  text-decoration: none;
  margin-bottom: 2rem; 
  margin-left: 3rem;
}


.projDesc{
  text-align: center;
  font-family: 'Gowun Dodum';
  font-size: 2rem;
  font-weight: 300;
  color: #FFFFFF;
  padding: 20px 0;
  text-decoration: None;
  pointer-events: auto;
  width: 300px;
  word-wrap: break-word;
  margin-left: 2rem;
}

.projDesc:hover {
  color: #fabf88;
}

.projExp{
  text-align: center;
  font-family: 'Gowun Dodum';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  pointer-events: none;
  width: 300px;
  word-wrap: break-word;
  margin-left: 2rem;
}


.projDate{
  text-align: center;
  font-family: 'Fredoka';
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFFFFF;
  pointer-events: none;
  margin-right: 0.4rem;
  margin-left: 2rem;
}

.triangle{
  width: 0; 
  height: 0; 
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  border-left: 40px solid #A9B6BE;
  margin-left: 3rem;
  margin-right: 1.5rem;
  pointer-events: none;
}

.inner-triangle {
  position: relative;
  top: -20px;
  left: -36px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 28px solid #D9D9D9;
  pointer-events: none;
}


/* Blogs */
.blogs{
  background: #80B1D1;
  background: linear-gradient(181deg, #80B1D1 0.79%, #DDDCCC 59.47%);
  min-height: 100vh;
  flex: shrink 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3000px;
  width: 100%
}

.blogTitle{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(181deg, #FFF 0.79%, rgba(255, 255, 255, 0.94) 0.8%, rgba(255, 255, 255, 0.24) 147.45%, rgba(255, 255, 255, 0.00) 147.47%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin-top:-8rem;
  margin-bottom:9rem;
 }

 .substack{
  width: 422px;
  height: 100px;
  opacity: 1;
  border-radius: 18px;
  background: #F3CF51;
  margin: 0 auto;
  margin-top: -7rem;
  margin-bottom: 8rem;
  box-shadow: 0px 0px 35px 3px rgba(100, 100, 100, 0.25);
  text-decoration: none;
}

.subtext{
  text-align: center;
  font-family: 'Handlee';
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  color: #2F4550;
  padding-top: 0.01rem;
}

.blogLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.blogBox{
  width: 422px;
  height: 141px;
  opacity: 1;
  border-radius: 18px;
  background: #F0F6FA;
  text-decoration: none;
  box-shadow: 0px 0px 35px 3px rgba(100, 100, 100, 0.25);
  margin-top: -7rem;
  margin-bottom: 0rem; 
}

/* Use header .projDesc for box description,
   Use p .projExp for blog explanation*/

.vertex-up{
  width: 35px; 
  height: 35px; 
  border-top: 9px solid #F0F6FA;
  border-left: 9px solid #F0F6FA;
  border-bottom: 9px solid transparent;
  border-right: 9px solid transparent;
  position: relative;
  top: -130px;
  left: -120px;
}

.vertex-down{
  width: 35px; 
  height: 35px; 
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #F0F6FA;
  border-right: 9px solid #F0F6FA;
  position: relative;
  top: -120px;
  left: 240px;
}

.bottomRow{
  font-family: 'segoe ui';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  top: -23px;
}


