@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


.App{
  text-align: center;
  background-color: #2F4550;
  min-height: 100vh;
}

.RowTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-family: 'Handlee', cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 200;
  color: white;
  margin-top: 5rem;
}

.profile-image{
  margin-right: 3.5rem;
}

.Rect1 {
  width: 26.5rem;
  height: 0.45rem;
  background-color: #80B1D1;
  margin: 0 auto;
  margin-top: -3.08rem;
}

.topDescBox{
  width: 26.5rem;
  height: 11rem;
  margin: 0 auto;
  margin-bottom: -4.5rem; 
}

.desc {
  font-family: 'Handlee', cursive;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 200;
  color: white;
}

.gridSelect {
  display: grid;
  grid-template-columns: 15rem 15rem;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.gridBox1{
  text-decoration: None;
  width: 235px;
  height: 235px;
  opacity: 0.83;
  border-radius: 18px;
  background: #E8ECEB;
}


.gridBox2{
  width: 235px;
  height: 235px;
  opacity: 0.83;
  border-radius: 18px;
  background: #A9B6BE;
}

.gridBox3{
  width: 235px;
  height: 235px;
  opacity: 1;
  border-radius: 18px;
  background: #A9B6BE;
}
.gridBox4{
  width: 235px;
  height: 235px;
  border-radius: 18px;
  background: #E8ECEB;
}

.descBox{
  font-family: 'Handlee', cursive;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 200;
  margin-top: 6rem;
  color: #2F4550;
}