@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


.App{
  text-align: center;
  background-color: #2F4550;
  min-height: 100vh;
}

.RowTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-family: 'Handlee', cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 200;
  color: white;
  margin-top: 5rem;
}

.Rect1 {
  width: 24rem;
  height: 0.45rem;
  background-color: #80B1D1;
  margin: 0 auto;
  margin-top: -3.08rem;
}


.App-text1 {
  color: #ffffff;
  font-size: 2rem;
}

.profile-image{
  margin-right: 1rem;
}

.App-link {
  color: #61dafb;
}


